* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de la page */
body {
    font-family: Arial, sans-serif;
    background: url(../images/baack.jpg);
}

header {
    background-color: #907f7a; /* Couleur principale plus taupe */
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

#formu {
    
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: solid #ccc ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    text-align: center;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Couleur de bordure plus neutre */
    border-radius: 4px;
    resize: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #907f7a;; /* Couleur principale plus taupe */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5f6a6a; /* Couleur principale plus taupe (darker) */
}
#bouton{
    width: auto;
    margin: 5px;
}

#post {
    margin-top: 20px;
    
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    
    
    display: flex;
    flex-direction: column;
    width: 98%;

}
#ho{
    display: flex;
    justify-content: space-between;
}
#poost {
   
  
  margin-top: 20px;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: solid #ccc ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
}
p{
    margin: 5px;
    
}